
<h1 class="text-center" >
    <span id="a1">Frequently asked questions..</span>
    <!-- <ng-container *ngIf="validarSpeak.band"> -->
        <!-- <button (click)="playSpeak('a1')" class="btn btn-dark btn-circle btn-md" style="background-color: blue; border: none; margin-left: 15px;" >P</button> 
        <button (click)="stopSpeak()" class="btn btn-dark btn-circle btn-md"  style="background-color: red; border: none;"><i class="far fa-stop-circle" style="color:rgb(42, 104, 180)"></i> S</button> -->
    <!-- </ng-container> -->
</h1><br><br>

<h5 id="a2" class="h5" ><br><br>How to search? <br>
   <p> Within the site we have a product search engine located at the top of our page, when you enter the article we will give you suggestions to help you find the article you are looking for or similar articles.
    </p><div class="spacer"></div>
   <div class="spacer"></div><br>
   The site is not responding / The page is slow or hangs.<br>
   <p>It is likely that we are having many visitors. Sorry for the intermittence, we are working hard to restore service.</p>
<div class="spacer"></div><br>
The product is no longer in my cart.<br>
<p>When a product is out of stock, it is automatically removed from your cart. Sorry for the inconvenience. We invite you to review more products in this category that we still have available.</p>
</h5>
    
<h5  class="text-center"><br><br><br><br><br><br>
    <span id="a3" style="text-align: center;"><b>SuperDuper 2022 | within reach of your life </b>  All Rights Reserved.</span><br>
    <p ><b> READER</b> </p>
    <!-- <ng-container *ngIf="validarSpeak.band"> -->
        <button (click)="playSpeak2('a1','a2','a3')" class="btn btn-dark btn-circle btn-md" style="background-color: blue; border: none; margin-left: 15px;" >P</button> 
        <button (click)="stopSpeak()" class="btn btn-dark btn-circle btn-md"  style="background-color: red; border: none;"><i class="far fa-stop-circle" style="color:rgb(42, 104, 180)"></i> S</button>
    <!-- </ng-container> -->
</h5>