<div class="card-style mb-30">
    <div class="d-flex">
        <div class="flex-grow-1">
            <h6 id="a1" class="mb-100">Frequently asked questions...</h6>
        </div>
    </div>
    <h5 id="a2">How to search?<br>
        <p class="mb-30">Within the site we have a product search engine located at the top of our page, when you enter
            the article we will give you suggestions to help you find the article you are looking for or similar
            articles.
        </p>
        The site is not responding / The page is slow or hangs.<br>
        <p class="mb-30">It is likely that we are having many visitors. Sorry for the intermittence, we are working hard
            to restore service.</p>
        The product is no longer in my cart.<br>
        <p>When a product is out of stock, it is automatically removed from your cart. Sorry for the inconvenience. We
            invite you to review more products in this category that we still have available.</p>
    </h5>

    <h5 class="mt-50">
        <div id="a3" class="text-center">
            Super-duper 2022 | Within reach of your life.
        </div>
        <div class="text-center">
            All Rights Reserved.
        </div>
        <h5 class="text-center mt-30 mb-20">SCREEN READER</h5>
        <div class="flex text-center">
            <button (click)="playSpeak2('a1','a2','a3')" class="main-btn active-btn rounded-md btn-hover"><i
                    class="bi bi-play"></i> Play</button>
            <button (click)="stopSpeak()" class="ml-20 main-btn danger-btn rounded-md btn-hover"><i class="bi bi-stop"></i>
                Stop</button>
        </div>
    </h5>
</div>