<div class="fondo_verproducto">
    <img class="bg" src="assets/Fondo-ver-producto.jpg" alt="">

    <div class="contenedor">
        <h1 class="animated fadeIn">{{producto.titulo}}</h1>
        <hr>
    
        <div class="row animated fadeIn fast">

            <div class="col md-4 text-center">
                <img width="300px" src="{{producto.imagen}}" alt="" class="img-fluid">
                <br><br>
                <!--<a href="#" [routerLink]="['/home']" class="btn btn-outline-danger btn-block">return</a>-->
            </div>
    
            <div class="col md-8">
                <h3>$ {{producto.precio}} Dollars</h3>
                <hr>
                <p>
                    {{producto.descripcion}}
                </p>
    
               
            </div>
        </div>
    </div>
</div>