<app-loading *ngIf="loadingProduct"></app-loading> 
<div class="row animated fadeIn" *ngIf="!loadingProduct">

  <div class="container">
    <div class="card" style="width: 18rem;">
        <img src={{product.picture}} class="card-img-top" alt="error">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Manufacturer: {{product.manufacturer}}</li>
          <li class="list-group-item">Category: {{product.category}}</li>
          <li class="list-group-item">SubCategory: {{product.subCategory}}</li>
          <li class="list-group-item">Contents: {{product.contents}}</li>
          <li class="list-group-item">Price: {{product.price | currency}}</li>
        </ul>
        <div class="card-body">
          <button (click)="addProduct_tocart_byid(amounts.value)" >Add To Cart</button>
          <input #amounts type="number"  class="form-control" placeholder="0" min="0" max="1" required >
          
        </div>
    </div>
  </div>

</div>
