<h1>
    Sign Up</h1>


<hr>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()" class="needs-validation" novalidate>

    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">First name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="First name" formControlName="firstname" [ngClass]="{'is-invalid':!forma.get('firstname')?.valid}" />
                <div *ngIf="forma.controls['firstname'].errors?.['required']" class="invalid-feedback">
                    Please type name
                </div>
                <div *ngIf="forma.controls['firstname'].errors?.['required']" class="invalid-feedback">
                    3 characters at least
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Last name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Last name" formControlName="lastname" [ngClass]="{'is-invalid':!forma.get('lastname')?.valid}" />
                <div *ngIf="forma.controls['lastname'].errors?.['required']" class="invalid-feedback">
                    Please type name
                </div>
                <div *ngIf="forma.controls['lastname'].errors?.['required']" class="invalid-feedback">
                    3 characters at least
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Address</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Address" formControlName="address" [ngClass]="{'is-invalid':!forma.get('address')?.valid }">
                <div *ngIf="forma.controls['address'].errors?.['required']" class="invalid-feedback">
                    Required field
                </div>
                <div *ngIf="forma.controls['email'].errors?.['email']" class="invalid-feedback">
                    Incorrect format
                </div>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">City and State</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="City and state" formControlName="city" [ngClass]="{'is-invalid':!forma.get('city')?.valid }">
                <div *ngIf="forma.controls['city'].errors?.['required']" class="invalid-feedback">
                    Required field
                </div>
                <div *ngIf="forma.controls['city'].errors?.['required']" class="invalid-feedback">
                    Incorrect format
                </div>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':!forma.get('email')?.valid }">
                <div *ngIf="forma.controls['email'].errors?.['required']" class="invalid-feedback">
                    Required field
                </div>
                <div *ngIf="forma.controls['email'].errors?.['email']" class="invalid-feedback">
                    Incorrect format
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Password</label>
            <div class="col-8">
                <input class="form-control" type="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':!forma.get('password')?.valid }">
                <div *ngIf="forma.controls['password'].errors?.['required']" class="invalid-feedback">
                    Required field
                </div>
                <div *ngIf="forma.controls['password'].errors?.['required']" class="invalid-feedback">
                    3 characters at least
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-3 col-form-label">Confirm Password</label>
            <div class="col-8">
                <input class="form-control" type="password" placeholder="Password" formControlName="password2" [ngClass]="{'is-invalid':!forma.get('password2')?.valid }">
                <div *ngIf="forma.controls['password2'].errors?.['required']" class="invalid-feedback">
                    Required field
                </div>
                <div *ngIf="forma.controls['password2'].errors?.['required']" class="invalid-feedback">
                    3 characters at least
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid"> 
Guardar
</button>
            </div>
        </div>
    </div>
    {{forma.valid}}

</form>