
<div class="card-deck">
  <ng-container *ngFor="let item of items"> 
       
    <div class="card">
      
      <img class="card-img-top" src={{item.ImageUrl}}   alt="Card image cap">
      <div class="card-body">

        <div (click)="seeProduct( item )" class="card puntero" *ngIf="showCard(item)"> 
          <p>Product: {{item.Title}} </p>
        </div>  
        <div class="card-footer">
          <small>            Category: {{item.Category }} <br>
            Manufacturer: {{item.Manufacturer }} <br>            
            <b> Price: {{item.Price |currency }} </b> <br>
          </small>
        </div>              
          
              
      </div>
             
    </div>
  </ng-container>   
</div>