<nav class="navbar navbar-expand-lg navbar-light gradient" style="background-color: #e3f2fd;">
    <!--  style=" background-color: #e3f2fd; " -->
    <div class="container-fluid ">
        <a class="navbar-brand d-none d-lg-block " href="#" [routerLink]="['/home']">
            <img src="https://i.ibb.co/XLYbGNT/logo.png" alt="logo" width="35" height="42" class="d-inline-block align-text-top">
            <p style="display:inline" class="titulo">Super-Duper</p>
        </a>
        <a class="navbar-brand d-lg-none" href="#" [routerLink]="['/home']">
            <img src="https://i.ibb.co/XLYbGNT/logo.png" alt="logo" width="30" height="35.27" class="d-inline-block align-text-top">

        </a>


        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- Menu que cambiara segun privilegios -->
                        <li>
                            <!-- <a class="dropdown-item btn" href="#" [routerLink]="['/login']">Log in</a>< -->
                            <a class="nav-link dropdown-item" style="color: #000; font-weight: bold" (click)="openLoginForm()" data-toggle="modal" data-target="#ModalForm">Login</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item" href="#" [routerLink]="['/signup']">Sign up</a></li>
                        <!-- <li>
                            <a class="dropdown-item" href="#"></a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li class="nav-item ">
                    <a class="nav-link active " aria-current="page " href="# ">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link disabled ">Disabled</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Departments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#" [routerLink]="['/fruits']">Fruits</a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['/vegetables']">Vegetables</a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['/dairy']">Dairy</a></li>
                    </ul>
                </li>

            </ul>



        </div>

        <div class="d-flex flex-row order-2 order-lg-3">
            <a class="navbar-brand" href="#" [routerLink]="['/mycart'] ">
                <img src="https://i.ibb.co/FwZCFZq/carrito.png" alt="" width="40" height="33" class="d-inline-block">
            </a>
        </div>
    </div>

</nav>

<!-- Boton flotante-->
<div class="fab-container ">
    <div class="fab shadow ">
        <div class="fab-content">
            <img src="https://i.ibb.co/frB59Nj/help.png" alt="" width="60">

        </div>
    </div>
    <div class="sub-button shadow">
        <a href="#" [routerLink]="['/faq']">
            <img src="https://i.ibb.co/zSbvP2p/faq.png " alt=" " width="45 ">

        </a>
    </div>
    <div class="sub-button shadow ">
        <a href="#" [routerLink]="['/contact']">
            <img src="https://i.ibb.co/6HtfRgJ/contact.png " alt=" " width="40 ">

        </a>
    </div>

</div>

<!-- Boton flotante admin-->
<div class="fab-container2 ">
    <div class="fab2 shadow ">
        <div class="fab-content2">
            <img src="https://i.ibb.co/DfC6My5/admin.png" alt="" width="60">
            <!--  <span class="material-icons">support_agent</span> -->
        </div>
    </div>
    <div class="sub-button2 shadow ">
        <a href="#" [routerLink]="['/admin/reports']">
            <img src="https://i.ibb.co/Ytszyxb/output-onlinepngtools-4.png" alt=" " width="40 ">
            <!--   <span class="material-icons ">mail_outline</span> -->
        </a>
    </div>
    <div class="sub-button2 shadow ">
        <a href="#" [routerLink]="['/admin']">
            <img src="https://i.ibb.co/d6ytLZr/update.png" alt=" " width="40 ">
            <!--   <span class="material-icons ">mail_outline</span> -->
        </a>
    </div>




</div>

<div class="modal fade " id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="myform bg-dark">
                    <h1 class="text-center" style="color:white">Login Form</h1>
                    <form>
                        <div class="mb-3 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                        <p>Not a member? <a href="#">Signup now</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>