.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-toggle {
    /* font-weight: bolder; */
    color: rgb(0, 0, 0) !important;
}

.dropdown-item:hover {
    background-color: #e3f2fd;
    font-weight: bold;
}

.dropdown-item {
    text-align: center;
}

.navbar-brand {
    font-weight: bold;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}