<nav class="navbar navbar-expand-lg navbar-light gradient" style="background-color: #e3f2fd;">
    <!--  style=" background-color: #e3f2fd; " -->
    <div class="container-fluid ">
        <a class="navbar-brand d-none d-lg-block " href="#" [routerLink]="['/home']">
            <img src="https://i.ibb.co/XLYbGNT/logo.png" alt="logo" width="35" height="42" class="d-inline-block align-text-top">
            <p style="display:inline" class="">Super-Duper</p>
        </a>
        <a class="navbar-brand d-lg-none" href="#" [routerLink]="['/home']">
            <img src="https://i.ibb.co/XLYbGNT/logo.png" alt="logo" width="30" height="35.27" class="d-inline-block align-text-top">

        </a>


        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- Menu que cambiara segun privilegios -->
                        <li><a class="dropdown-item" href="#">Sign in</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['/signup']">Sign up</a></li>
                        <!-- <li>
                            <a class="dropdown-item" href="#"></a>
                        </li> -->
                    </ul>
                </li>
                <!-- <li class="nav-item ">
                    <a class="nav-link active " aria-current="page " href="# ">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link disabled ">Disabled</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Departments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#" [routerLink]="['/fruits']">Fruits</a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['/vegetables']">Vegetables</a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['/dairy']">Dairy</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex d-inline w-100" role="search ">
                <input class="form-control " type="search " placeholder="Search product " aria-label="Search ">
                <button class="btn  " type="submit "><img src="https://i.ibb.co/KyzsDmC/search.png" alt="" width="25"></button>
            </form>


        </div>

        <div class="d-flex flex-row order-2 order-lg-3">
            <a class="navbar-brand" href="#" [routerLink]="['/mycart'] ">
                <img src="https://i.ibb.co/FwZCFZq/carrito.png" alt="" width="40" height="33" class="d-inline-block">
            </a>
        </div>
    </div>

</nav>

<!-- Boton flotante-->
<div class="fab-container ">
    <div class="fab shadow ">
        <div class="fab-content">
            <img src="https://i.ibb.co/frB59Nj/help.png" alt="" width="60">
            <!--  <span class="material-icons">support_agent</span> -->
        </div>
    </div>
    <div class="sub-button shadow">
        <a href="#" [routerLink]="['/faq']">
            <img src="https://i.ibb.co/zSbvP2p/faq.png " alt=" " width="45 ">
            <!--  <span class="material-icons ">phone</span> -->
        </a>
    </div>
    <div class="sub-button shadow ">
        <a href="#" [routerLink]="['/contact']">
            <img src="https://i.ibb.co/6HtfRgJ/contact.png " alt=" " width="40 ">
            <!--   <span class="material-icons ">mail_outline</span> -->
        </a>
    </div>

</div>