
<h1 class="text-center" >
    <span id="a1">CONTACT US...</span>
    <!-- <ng-container *ngIf="validarSpeak.band"> -->
        <!-- <button (click)="playSpeak('a1')" class="btn btn-dark btn-circle btn-md" style="background-color: blue; border: none; margin-left: 15px;" >P</button> 
        <button (click)="stopSpeak()" class="btn btn-dark btn-circle btn-md"  style="background-color: red; border: none;"><i class="far fa-stop-circle" style="color:rgb(42, 104, 180)"></i> S</button> -->
    <!-- </ng-container> -->
</h1><br><br>

<h5 id="a2" class="h5 text-center" ><br><br>Email: super@duper.com <br><br>
    <div class="spacer"></div>
   <div class="spacer"></div>
    Celphone: 55 548 46 895<br><br>
<div class="spacer"></div>
    Address: Colosio #512, CDMX.<br><br>
</h5>
    
<h5  class="text-center"><br><br><br><br><br><br>
    <span id="a3" style="text-align: center;"><b>SuperDuper 2022 | within reach of your life </b>  All Rights Reserved.</span>
    <!-- <ng-container *ngIf="validarSpeak.band"> -->
        <button (click)="playSpeak2('a1','a2','a3')" class="btn btn-dark btn-circle btn-md" style="background-color: blue; border: none; margin-left: 15px;" >P</button> 
        <button (click)="stopSpeak()" class="btn btn-dark btn-circle btn-md"  style="background-color: red; border: none;"><i class="far fa-stop-circle" style="color:rgb(42, 104, 180)"></i> S</button>
    <!-- </ng-container> -->
</h5>