<div class="card-style mb-30">
    <div class="d-flex">
        <div id="a1" class="flex-grow-1">
            <h6 class="mb-10">Contact us</h6>
            <p class="text-sm mb-50">
                Contact information for Super-duper
            </p>
        </div>
    </div>
    <div id="a2">
        <div class="row mb-20"><b>Email</b><p>super@duper.com</p></div>
        <div class="row mb-20"><b>Cellphone</b><p>+52 449 386-27-37</p></div>
        <div class="row mb-20"><b>Address</b><p>Colosio #512, CDMX.</p></div>
    </div>

    <h5 class="mt-50">
        <div id="a3" class="text-center">
            Super-duper 2022 | Within reach of your life.
        </div>
        <div class="text-center">
            All Rights Reserved.
        </div>
        <h5 class="text-center mt-30 mb-20">SCREEN READER</h5>
        <div class="flex text-center">
            <button (click)="playSpeak2('a1','a2','a3')" class="main-btn active-btn rounded-md btn-hover"><i
                    class="bi bi-play"></i> Play</button>
            <button (click)="stopSpeak()" class="ml-20 main-btn danger-btn rounded-md btn-hover"><i class="bi bi-stop"></i>
                Stop</button>
        </div>
    </h5>
</div>